@model List<Discuss.Models.UserModel>

@*Bảng dữ liệu*@
<table class="table table-striped table-bordered table-hover table-render-html gg-table table-chapter">
    <thead>
        <tr>
            <th class="vertical-align-inherit width60px">ID</th>
            <th class="vertical-align-inherit width100px">UserName</th>
            <th class="vertical-align-inherit">Họ và tên</th>
            <th class="vertical-align-inherit width180px">Số điện thoại</th>
            <th class="vertical-align-inherit width180px">Email</th>
            <th class="vertical-align-inherit width150px">Quyền</th>
            <th class="vertical-align-inherit width180px">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="center">
                    @user.UserId
                </td>
                <td class="center">
                    @user.UserName
                </td>
                <td>
                    @user.FullName
                </td>
                <td class="center">
                    @user.Phone
                </td>
                <td class="center">
                    @user.Email
                </td>

                @if (user.RoleId == 1)
                {
                    <td class="center">Quản trị viên</td>
                }
                else
                {
                    <td class="center">Người dùng</td>
                }
                @*Chức năng*@
                <td class="center">
                    <a onclick="Update(@user.UserId)">
                        <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Sửa thông tin" class="gg-function-icon glyphicon glyphicon-pencil"></div>
                    </a>
                    <a onclick="DeleteUser(@user.UserId)">
                        <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Xóa thông tin" class="gg-function-icon glyphicon glyphicon-trash"></div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>